@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Karla-Regular.woff2') format('woff2'),
    url('../fonts/Karla-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Karla-Bold.woff2') format('woff2'),
    url('../fonts/Karla-Bold.woff') format('woff');
}
